@{
    ViewBag.Title = "Usuarios";
    ViewBag.Favicon = "usuarios.svg";
}

<div class="container">
    <div class="menu">
        <h2>Usuarios</h2>
        <a class="btn btn-success mb-3" asp-controller="Users" asp-action="Create">Crear Usuario</a>
    </div>

    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <td>ID</td>
                <td>Nombres</td>
                <td>Apellidos</td>
                <td>Correo</td>
                <td>Fecha de Nacimiento</td>
                <td>Dirección</td>
                <td>Teléfono</td>
                <td>Acciones</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Names</td>
                    <td>@user.LastNames</td>
                    <td>@user.Email</td>
                    <td>@user.BirthDate.ToString("yyyy-MM-dd")</td>
                    <td>@user.Address</td>
                    <td>@user.Phone</td>
                    <td>
                        <a class="btn btn-sm btn-info" asp-route-id="@user.Id" asp-controller="Users" asp-action="Details">Detalles</a>
                        <a class="btn btn-sm btn-warning" asp-route-id="@user.Id" asp-controller="Users" asp-action="Edit">Editar</a>
                        <a class="btn btn-sm btn-danger" asp-route-id="@user.Id" asp-controller="Users" asp-action="Delete">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>