@{
    ViewBag.Title = "Editar Producto";
    ViewBag.Favicon = "productos.svg";
}

<section class="container">
    <form class="form cardDetails">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre del producto:</label>
            <input type="text" class="form-control" id="name" autofocus value="@Model.Name">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Descripción:</label>
            <input type="text" class="form-control" id="description" value="@Model.Description">
        </div>
        
        <div class="mb-3">
            <label for="price" class="form-label">Precio:</label>
            <input type="number" class="form-control" id="email" value="@Model.Price">
        </div>

        <div class="mb-3">
            <label for="amount" class="form-label">Cantidad:</label>
            <input type="number" class="form-control" id="amount" value="@Model.Amount">
        </div>

        <div class="mb-3 m-auto">
            <label for="expiration" class="form-label">Fecha de Vencimiento:</label>
            <input type="date" class="form-control" id="expiration" value="@Model.ExpirationDate">
        </div>
    </form>

    <a class="btn btn-success mt-3" asp-route-id="@Model.Id" asp-controller="Products" asp-action="Index">Confirmar</a>
</section>