@model Product
@{
    ViewBag.Title = "Editar Producto";
    ViewBag.Favicon = "productos.svg";
}

<section class="content">
    <h2 class="mb-5">Editar Producto: @Model.Name</h2>

    <form class="form" asp-controller="Products" asp-action="Edit" method="post">
        <div class="cardEdit cardEditProduct">
            <div class="mb-3">
                <label class="form-label">Nombre del producto:</label>
                <input type="text" class="form-control" autofocus value="@Model.Name" asp-for="Name">
            </div>
            
            <div class="mb-3">
                <label class="form-label">Precio:</label>
                <input type="number" class="form-control" value="@Model.Price" asp-for="Price">
            </div>

            <div class="mb-3">
                <label class="form-label">Cantidad:</label>
                <input type="number" class="form-control" value="@Model.Amount" asp-for="Amount">
            </div>

            <div class="mb-3">
                <label class="form-label">Fecha de Vencimiento:</label>
                <input type="date" class="form-control" value="@Model.ExpirationDate" asp-for="ExpirationDate">
            </div>

            <div class="mb-3 w-100">
                <label class="form-label">Descripción:</label>
                <input type="text" class="form-control w-100" value="@Model.Description" asp-for="Description">
            </div>
        </div>

        <button class="btn btn-success mt-3">Actualizar</button>
    </form>
</section>