@{
    ViewBag.Title = "Productos";
    ViewBag.Favicon = "productos.svg";
}

<div class="container">
    <div class="menu">
        <h2>Productos</h2>
        <a class="btn btn-success mb-3" asp-controller="Products" asp-action="Create">Crear Producto</a>
    </div>

    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <td>ID</td>
                <td>Nombre</td>
                <td>Descripción</td>
                <td>Precio</td>
                <td>Cantidad</td>
                <td>Vencimiento</td>
                <td>Acciones</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>$ @product.Price</td>
                    <td>@product.Amount</td>
                    <td>@product.ExpirationDate.ToString("yyyy-MM-dd")</td>
                    <td>
                        <a class="btn btn-sm btn-info" asp-route-id="@product.Id" asp-controller="Products" asp-action="Details">Detalles</a>
                        <a class="btn btn-sm btn-warning" asp-route-id="@product.Id" asp-controller="Products" asp-action="Edit">Editar</a>
                        <a class="btn btn-sm btn-danger" asp-route-id="@product.Id" asp-area="" asp-controller="Products" asp-action="Delete">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>